Q1 You are working in a bank and you have been given two lists of the employees who worked in 2021. Employee’s name in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, Sarita. Please write a program which helps to identify people who are common in both lists. Please do not use any in-built function.

In [1]:
employees1 = [ "Ramesh" , "Suresh" , "Mahesh" , "Ali" , "Jacob" , "Saritha"]

employees2 = [ "Ali" , "Mukesh" , "Mahesh" , "Jacob" , "Sai" , "Sarita"]

#commonEmp = set(employees1) & set(employees2)

#print(commonEmp)

Above question in different way

In [2]:
for i in employees1 :
  for j in employees2 :
    if i == j :
      print(i)

Mahesh
Ali
Jacob

Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and convert them into a list. Once converted in a list, please write a program which adds their age.


Ramesh :  25

Suresh : 22

Mohit : 26

In [ ]:
names = "Ramesh Suresh Mohit"

new_list = names.split()
print(new_list)

for name in new_list :
  if name == "Ramesh":
    print('Ramesh : 25')
  elif name == "Suresh" :
    print('Suresh : 22')
  else :
    print('Mohit : 26')

['Ramesh', 'Suresh', 'Mohit']
Ramesh : 25
Suresh : 22
Mohit : 26

In [3]:
# above ans is wrong
names = "Ramesh Suresh Mohit"

new_list = names.split()
print(new_list)

age = [25 , 22 , 26 ]

nlist = {}

for i , j in zip(new_list , age) :
  nlist[i] = j
print(nlist)

['Ramesh', 'Suresh', 'Mohit']
{'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}

Q3: A few students from a university have taken three exams

Name = Sam, Jacy, Tom, Steve

Python = 25, 26, 29, 28

Statistics = 23, 21, 19, 25

SQL = 29, 27, 28, 25


Please write a program which calculates mean values (no in-built function for mean) of all three tests and print the highest mean value. Addition and other functions are allowed. Please also report who scored the highest mark in python using programming construct.

In [ ]:
Name = 'Sam' , 'Jacy' , 'Tom' , 'Steve'

Python = 25 , 26 , 29 , 28

Statistics = 23 , 21 , 19 , 25

SQL = 29 , 27 , 28 , 25

def MeanMarks(x) :
  return (sum(x))/ len(x)

pmarks = MeanMarks(Python)
print("Mean Value of Python : "  ,pmarks)

smarks = MeanMarks(Statistics)
print("Mean Value of Statistics : " ,smarks)

sqmarks = MeanMarks(SQL)
print("Mean Value of SQL : " ,sqmarks)


print(f'Highest mean value is {max(pmarks,smarks,sqmarks)}')

Mean Value of Python :  27.0
Mean Value of Statistics :  22.0
Mean Value of SQL :  27.25
Highest mean value is 27.25

In [ ]:
highest = max(Python)

indx = Python.index(highest)

print(Name[indx] , "has highest marks in Python .")

Tom has highest marks in Python .

Q4: You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49 and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, total cost of all medicine and how much money you refunded to the patient?

In [ ]:
pct = int ( input ("Enter number of strips of Paracetamol : "))
az = int ( input ("Enter number of strips of azithromycin : "))
vitC = int ( input ("Enter number of strips of Vitamin C : "))
amount = int( input ("Enter amount given by patient : "))

x = 35
y = 49
z = 33

def price(x,y,z) :
  print(f'Total cost of paracetamol is Rs. {x} ')
  print(f'Total cost of azithromycin is Rs. {y} ')
  print(f'Total cost of vitC is Rs. {z} ')
  total = x + y + z
  print(f'Total cost of all medicines is Rs. {total} ')
  return total

#price(pct*x,az*y,vitC*z)

bill = price(pct*x,az*y,vitC*z) ## ( no of strips * price )

def refund(a ,b) :
  amt = a - b
  print(f'Amount refunded to the patient : Rs. {amt} ')


refund(amount , bill) #( amount = money given by patient and bill = total cost of medicines)

Enter number of strips of Paracetamol : 2
Enter number of strips of azithromycin : 3
Enter number of strips of Vitamin C : 5
Enter amount given by patient : 2000
Total cost of paracetamol is Rs. 70
Total cost of azithromycin is Rs. 147
Total cost of vitC is Rs. 165
Total cost of all medicines is Rs. 382
Amount refunded to the patient : Rs. 1618

Q5: Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example: I am learning python contains 6 vowels. This function should be applicable for all other different sentences.

In [ ]:
sent = input ( "Enter the sentence : ")
vowel = 0

for ele in sent :
  if ( ele=='a' or ele=='e' or ele=='i' or ele=='o' or ele=='u' or
      ele=='A' or ele=='E' or ele=='I' or ele=='O' or ele=='U' ):
    vowel = vowel + 1
print("Total Number of Vowels in given String = ", vowel)

Enter the sentence : I am learning python
Total Number of Vowels in given String =  6

In [ ]:
# Below ans is good

sent = input ( "Enter the sentence : ")
vowel = 0
l = "aeiouAEIOU"

for ele in sent :
  if ele in l :
    vowel = vowel + 1
print("Total Number of Vowels in given String = ", vowel)

Enter the sentence : I am learning python
Total Number of Vowels in given String =  6

Q6: You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible your output should be ‘Congrats! You are eligible’, otherwise it should tell that you have to return after X number of years. Eligibility criteria for voting is 18 years.


For example, If someone is 18 or above your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years it should print output as ‘return after 3 years’.

In [ ]:
age = int ( input ("Enter age : "))

if age >= 18 :
  print(" 'Congrats! You are eligible' ")
else :
  year = 18 -age
  print(f" 'Return after {year} years'. ")

Enter age : 15
 'Return after 3 years'.